/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 4, 2017, 10:47:05 AM
    Author     : precognox
*/

.calendarclass {
    background: #f2f2f2;
}

.navbar {
    background-color: lightskyblue;
    color: gray;
    font-size: 20px;
    height: 40px;
    text-align: center;
    
}

.navbar.button{
    font-size: 17px;
    background-color: darkslategray;
    color: lightgray;
}

table {
    width: 100%;
    height: 100%;
    border-spacing: 10px;
    border-collapse: separate;
}
th{
    height: 10%;
    width: 14.3%;
    text-align: center;
    border: 1px solid black;
}
tr{
    
    border: 1px solid black;
}

td{
    width: 14.3%;
    vertical-align: top;
    border: 1px solid black;
    height: 110px;
    background-color: lightgray;
}

.workday{
    background-color: white;
}

.red{
    color: red;
}

.buttn{
    
    text-align: center;
}

.ibox{
    border: 1px solid black;
    width: 20%;
    text-align: left;
}

.sel{
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
}
